* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.fcontainer {
  display: flex;
  flex-direction: row;
  height: 400px;
  /* flex-wrap: wrap-reverse; */
  justify-content: space-between;
  border: 2px solid green;
  align-items: center;
}

.fitem {
  width: 100px;
  height: 100px;
  background-color: red;
  font-size: 15px;
  border-color: green;
  border-width: 10px;
  border-style: double;
  padding: 10px;
  margin: 20px;
}

.item1 {
  order: 2;
  /* flex-grow: 2; */
}
.item4 {
  order: -1;
  /* flex-grow: 3; */
}
.item2 {
}

@media only screen and (max-width: 600px) {
  .fcontainer {
    flex-direction: column;
    text-align: center;
  }
}
